Plaza & Janes Editores, S.A.;Timun Mas;Ediciones SM;Grupo Editorial Random House Mondadori, S. L.;Ediciones Salamandra;Ediciones B, S.A.;Emece Editores;Editorial Lumen;Ediciones Gigamesh;Ediciones Urano, S.A.;Editorial Planeta, S. A.;Umbriel;Rocaeditorial;Editorial Andres Bello;Harper-Collins;nueva;
